body {
    background-color: aquamarine;
}

.head {
    color: rgb(231, 86, 86);
    font-size: 20px;
}

.header {
    text-align: center
}

.pitch {
    background-color: rgb(156, 211, 233);
    border-radius: 3px;
}

.tag {
    color: white;
}

h4 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

.home {
    column-count: 2;
}