{% extends 'base.html' %} {% block styles %} {{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}"> {% endblock %} {%block content %}
<div class="container">
    <div class="text-center">
        <h1>WELCOME TO THE PITCH</h1>
        <h4>Put Down What you got</h4>
        <button class="btn btn-lg bg-primary">PITCH YOUR IDEA</button>
    </div>
    <hr>
</div>
{%for pitch in pitches %}
<div class="container">
    <div class="">
        <div>
            <h4>Category: {{pitch.pitch_category}}</h4>
        </div>
        <div>
            <h6>Title: {{pitch.pitch_title}}</h6>
        </div>
        <div>
            <h6>{{pitch.pitch_comment}}</h6>
            <p>Posted on {{pitch.posted}}</p>
            <a href="/comments/{{pitch.id}}?like=1">
                <img src="../static/icons/thumbs_up.gif" alt="Icon" width="40px" height="40px"></a>
            {{pitch.likes}}
            <a href="/comments/{{pitch.id}}?dislike=1">
                <img src="../static/icons/icons8-unlike-48.png" alt="Down" width="40px" height="40px"></a>
            {{pitch.dislikes}}
        </div>
    </div>
    <hr>
</div>


{%endfor%} {%endblock%}