{% extends 'base.html' %} {% import 'bootstrap/wtf.html' as wtf%} {% block styles %} {{ super() }}
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}"> {% endblock %} {%block content %}
<div class="container">
    <div class="text-center">
        <h1>WELCOME TO PITCHING WORLD</h1>
        <h4><em>PUT DOWN YOUR IDEA</em></h4>
        <button class="btn btn-lg bg-primary"><a href="/newpitch" class="tag"> ENTER NEW PITCH</a></button>
    </div>
    {%for pitch in promotionPitches%} {{pitch.pitch_title}} {%endfor%}
    <hr>
</div>
{%for pitch in pitches %}
<div class="container">
    <div class="home">
        <div>
            <h4>Category: {{pitch.pitch_category}}</h4>
        </div>
        <div>
            <h6>Title: {{pitch.pitch_title}}</h6>
        </div>
        <div class="pitch">
            <h6>{{pitch.pitch_comment}}</h6>
            <p>Posted on {{pitch.posted.strftime('%Y-%m-%d')}}</p>
            <a href="/{{pitch.id}}?like=1"><i class="fas fa-thumbs-up">{{pitch.likes}}</i></a>

            <a href="/{{pitch.id}}?dislike=1"><i class="fas fa-thumbs-down">{{pitch.dislikes}}</i></a>

        </div>
    </div>
    <hr>
</div>


{%endfor%} {%endblock%}