{% extends 'base.html' %} {%block content %}
<div class="container">
    <div class="text-center">
        <h1>WELCOME TO THE PITCH</h1>
        <h4>Put Down What you got</h4>
        <button class="btn btn-lg bg-primary">PITCH YOUR IDEA</button>
    </div>
    <hr>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 ">
            <H3>Great minds exchange ideas</H3>
            <img src="https://images.unsplash.com/photo-1552727408-5d0599032dfb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=631&q=80">
        </div>
        <div class="col-md-6">
            <H3>Great minds exchange ideas</H3>
            <img src="https://images.unsplash.com/photo-1615963244664-5b845b2025ee?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=80">
        </div>
    </div>
</div>
{%endblock%}