{%extends "base.html" %} {%block content%}

<h1 class="text-center">PITCHES </h1>
{%for pitch in pitches %}
<div class="container">
    <div>
        <h4>{{pitch.pitch_category}}</h4>
    </div>
    <div>
        <h6>{{pitch.pitch_title}}</h6>
    </div>
    <div>
        <h6>{{pitch.pitch_comment}}</h6>
        <img src="../static/icons/thumbs_up.gif" alt="Icon" width="40px" height="40px">
        <img src="../static/icons/icons8-unlike-48.png" alt="Down" width="40px" height="40px">
    </div>
    <hr>
</div>


{%endfor%} {%endblock%}