{% import 'bootstrap/wtf.html' as wtf%} {%extends "base.html" %} {%block content%}

<h1 class="text-center">AMAZING PITCHES</h1>
{%for pitch in pitches %}
<div class="container">
    <div class="">
        <div>
            <h4>Category: {{pitch.pitch_category}}</h4>
        </div>
        <div>
            <h6>Title: {{pitch.pitch_title}}</h6>
        </div>
        <div>
            <h6>{{pitch.pitch_comment}}</h6>
            <p>Posted on {{pitch.posted}}</p>
            <a href="/comments/{{pitch.id}}?like=1">
            </a>
            {{pitch.likes}}
            <a href="/comments/{{pitch.id}}?dislike=1">
                <</a>
                    {{pitch.dislikes}}
        </div>
    </div>
    <hr>
</div>


{%endfor%} {%endblock%}